*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border-radius:10px;
}

#Page2{
    display: grid;
    grid-template-columns: 15% 30% 30% 25%;
    height: 50vh;
    width: 100vw;
    
}
 #item2, #item3 , #item4{
    
    margin:5px;
}
#item2{
    display:grid;
    grid-template-rows: 25% 25% 25% 25%;
    margin:3px;
    padding:4px;
}
#in2 , #in3 , #in4{
    
    margin: 2px;
    padding: 2px;
    background: linear-gradient(to top left,silver,white);
}
#in1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#in2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
}

#date ,  #subject , #pic{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#item3 , #item4{
    align-items: center;
}

#item1{
    display:grid;
    grid-template-rows: 50% 50%;
    background: linear-gradient(to top left,silver,grey);
}

#home, #dashboard{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#todo{
    background: linear-gradient(to top right,grey,yellow);
    height: 100%;
    width: 100%;
}
#todo:hover{
    height: 101%;
    width: 101%;
    transition-timing-function: ease;
}
#leader{
    background: linear-gradient(to top right,grey,yellow);
    height: 100%;
    width: 100%;
}